<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:pattern {"slug":"tourze-lite/tourze-lite-gutenverse-page-hero"} /-->

<!-- wp:gutenverse/section {"width":{"Desktop":"1290"},"gap":"no","elementId":"guten-MbAFZy","padding":{"Desktop":{"unit":"px","dimension":{"top":"120","bottom":"120"}},"Tablet":{"unit":"px","dimension":{"top":"100","bottom":"100","right":"20","left":"20"}},"Mobile":{"unit":"px","dimension":{"right":"15","left":"15"}}}} -->
<div class="section-wrapper" data-id="MbAFZy"><section class="wp-block-gutenverse-section guten-element guten-section guten-MbAFZy layout-boxed align-stretch"><div class="guten-container guten-column-gap-no"><!-- wp:gutenverse/column {"width":{"Desktop":100},"elementId":"guten-1KKDeY"} -->
<div class="wp-block-gutenverse-column guten-element guten-column guten-1KKDeY"><div class="guten-column-wrapper" data-id="1KKDeY"><!-- wp:post-content {"tagName":"main"} /--></div></div>
<!-- /wp:gutenverse/column --></div></section></div>
<!-- /wp:gutenverse/section -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->