<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:pattern {"slug":"tourze-lite/tourze-lite-core-home-hero"} /-->

<!-- wp:pattern {"slug":"tourze-lite/tourze-lite-core-home-feature-tour"} /-->

<!-- wp:pattern {"slug":"tourze-lite/tourze-lite-core-home-about"} /-->

<!-- wp:pattern {"slug":"tourze-lite/tourze-lite-core-home-destination-list"} /-->

<!-- wp:pattern {"slug":"tourze-lite/tourze-lite-core-home-cta"} /-->

<!-- wp:pattern {"slug":"tourze-lite/tourze-lite-core-home-testimonial"} /-->

<!-- wp:pattern {"slug":"tourze-lite/tourze-lite-core-home-blog"} /-->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->